<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Web Suite">
    <parameter name="propertyFileName" value="web.properties"/>
    <test name="Test 1" >
        <groups>
            <run>
                <include name="web" />
            </run>
        </groups>
        <packages>
            <package name="scenarios"/>
        </packages>
    </test>
</suite>